* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #10182b;
  min-height: 100vh;
}

.content header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-container {
  display: flex;
  background-color: #1e2947;
  padding: 10px;
  margin-bottom: 20px;
}

.search-results {
  display: flex;
  flex-direction: column;
  background-color: #1e2947;
  gap: 10px;
}

.user-stats-container {
  background-color: #10182b;
}
